{{ attach_library('common_design/cd-typography') }}
{{ attach_library('common_design/cd-flow') }}
{{ attach_library('common_design/cd-author') }}

{% set unochaDate = node.getCreatedTime|date('j F Y') %}

<footer class="cd-author [ cd-bumper ]">
  <div class="cd-author__image cd-author__image--rounded">
    <img src="/themes/contrib/common_design/components/cd-byline/mark-lowcock.jpg" alt="Mark Lowcock">
  </div>

  <div class="cd-author__content">
    Submitted by <a title="View user profile." href="#" class="username">username</a>
    on 19 August 2009
  </div>
</footer>

<hr>

<footer class="cd-author node__meta [ cd-bumper ]">
  {% if author_picture %}
    <div class="cd-author__image cd-author__image--rounded">
      {{ author_picture }}
    </div>
  {% endif %}
  <div class="cd-author__content">
    <div{{ author_attributes.addClass('node__submitted') }}>
      {% trans %}Submitted by {{ author_name }} on {{ unochaDate }}{% endtrans %}
      {{ metadata }}
    </div>
  </div>
</footer>
