{{ attach_library('common_design/cd-flow') }}
{{ attach_library('common_design/cd-typography') }}
{{ attach_library('common_design/cd-alert') }}

<div class="cd-alert cd-alert--error">
  <div role="alert" aria-label="{{ 'Error message'|t }}">
    <svg class="cd-icon cd-icon--form-error" aria-hidden="true" focusable="false" width="16" height="16">
      <use xlink:href="#cd-icon--form-error"></use>
    </svg>
    <div class="cd-alert__container cd-max-width">
      <div class="cd-alert__title">
        <h2 class="visually-hidden">{{ 'Error message'|t }}</h2>
      </div>
      <div class="cd-alert__message [ cd-flow ]">
        <ul class="messages__list" role="list">
          <li>I am an error with a very important message and a link with <a href="#">more information</a>.</li>
          <li>There may be many errors. When there is more than one they appear as a list.</li>
          <li>If there's only one, it will not be a list.</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="cd-alert cd-alert--warning">
  <div role="status" aria-label="{{ 'Warning message'|t }}">
    <svg class="cd-icon cd-icon--alert" aria-hidden="true" focusable="false" width="16" height="16">
      <use xlink:href="#cd-icon--alert"></use>
    </svg>
    <div class="cd-alert__container cd-max-width">
      <div class="cd-alert__title">
        <h2 class="visually-hidden">{{ 'Warning message'|t }}</h2>
      </div>
      <div class="cd-alert__message [ cd-flow ]">
        <p>I am an alert that conveys a warning.</p>
      </div>
    </div>
  </div>
</div>

<div class="cd-alert cd-alert--status">
  <div role="status" aria-label="{{ 'Status message'|t }}">
    <svg class="cd-icon cd-icon--selected" aria-hidden="true" focusable="false" width="16" height="16">
      <use xlink:href="#cd-icon--selected"></use>
    </svg>
    <div class="cd-alert__container cd-max-width">
      <div class="cd-alert__title">
        <h2 class="visually-hidden">{{ 'Status message'|t }}</h2>
      </div>
      <div class="cd-alert__message [ cd-flow ]">
        <p>I am an alert that confirms a status, like when a page is saved successfully.</p>
      </div>
    </div>
  </div>
</div>

<div class="cd-alert">
  <div role="status" aria-label="{{ 'Info message'|t }}">
    <svg class="cd-icon cd-icon--about" aria-hidden="true" focusable="false" width="16" height="16">
      <use xlink:href="#cd-icon--about"></use>
    </svg>
    <div class="cd-alert__container cd-max-width">
      <div class="cd-alert__title">
        <h2 class="visually-hidden">{{ 'Info message'|t }}</h2>
      </div>
      <div class="cd-alert__message [ cd-flow ]">
        <p>I am the default alert with a low priority message and a link with <a href="#">more information</a>.</p>
      </div>
    </div>
  </div>
</div>
