{{ attach_library('common_design/cd-grid') }}
{{ attach_library('common_design/cd-flow') }}
{{ attach_library('common_design/cd-utilities') }}
{{ attach_library('common_design/cd-typography') }}
{{ attach_library('common_design/cd-button') }}
{{ attach_library('common_design/cd-read-more') }}
{{ attach_library('common_design/cd-teaser') }}
{{ attach_library('common_design/cd-date') }}
{{ attach_library('common_design/cd-event') }}

<div class="cd-container [ cd-flow ]">
  <article class="cd-teaser node--view-mode-teaser [ cd-flow cd-bumper ]">

    <div class="cd-teaser__image">
      <img src="https://via.placeholder.com/100x120" alt="image example">
    </div>

    <div class="cd-teaser__container [ cd-flow ]">

      <div class="cd-teaser__title cd-max-width">
        <a href="#" rel="bookmark">Sed dapibus lectus sit amet adipiscing egestas mauris est viverra nibh</a>
      </div>

      <div class="cd-teaser__description cd-max-width">
        <p>Sed dapibus, lectus sit amet adipiscing egestas, mauris est viverra nibh (iaculis pretium sem orci aliquet mauris). Nulla auctor eleifend turpis consequat pharetra. Nulla vel magna sit amet dui lobortis commodo vitae vel nulla sit amet ante hendrerit tempus. Donec a congue leo? </p>
      </div>

      <a href="#" class="cd-teaser__link cd-read-more">
        Learn more
        <svg class="cd-icon cd-icon--arrow-right">
          <use xlink:href="#cd-icon--arrow-right"></use>
        </svg>
      </a>

    </div>

  </article>

  <article class="cd-teaser node--view-mode-teaser [ cd-flow cd-bumper ]">

    <div class="cd-teaser__image">
      <img src="https://via.placeholder.com/410x205" alt="image example">
    </div>
    <div class="cd-teaser__container [ cd-flow ]">
      <div class="cd-teaser__title cd-max-width">
        <h3>
          <a href="#" rel="bookmark">Sed dapibus lectus sit amet adipiscing egestas mauris est viverra nibh</a>
        </h3>
      </div>

      <div class="cd-teaser__description cd-max-width">
        <p>Sed dapibus, lectus sit amet adipiscing egestas, mauris est viverra nibh (iaculis pretium sem orci aliquet mauris). Nulla auctor eleifend turpis consequat pharetra. Nulla vel magna sit amet dui lobortis commodo vitae vel nulla sit amet ante hendrerit tempus. Donec a congue leo? </p>
      </div>

      <dl class="cd-teaser__fields">
        <dt>Document type:</dt>
        <dd>Other</dd>
        <dt>Product category:</dt>
        <dd>Protection from Sexual Abuse and Exploitation</dd>
        <dt>Authoring bodies:</dt>
        <dd>IASC Task Team on Accountability to Affected Populations and Protection from Sexual
          Exploitation and Abuse (AAP/PSEA)</dd>
        <dt class="cd-article-list__date">Date</dt>
        <dd>07 Feb 2018</dd>
      </dl>

    </div>
  </article>

  <article class="cd-teaser node--view-mode-teaser [ cd-flow cd-bumper ]">

    <div class="cd-teaser__container [ cd-flow ]">
      <div class="cd-teaser__title cd-max-width">
        <a href="#" rel="bookmark">Sed dapibus lectus sit amet adipiscing egestas mauris est viverra nibh</a>
      </div>

      <div class="cd-teaser__description cd-max-width">
        <p>Sed dapibus, lectus sit amet adipiscing egestas, mauris est viverra nibh (iaculis pretium sem orci aliquet mauris). Nulla auctor eleifend turpis consequat pharetra. Nulla vel magna sit amet dui lobortis commodo vitae vel nulla sit amet ante hendrerit tempus. Donec a congue leo? </p>
      </div>

    </div>
  </article>


  <article class="cd-teaser node--view-mode-teaser [ cd-flow cd-bumper ]">

    <div class="cd-teaser__image">
      <img src="https://via.placeholder.com/680x840" alt="image example">
    </div>

    <div class="cd-teaser__container [ cd-flow ]">
      <div class="cd-teaser__title cd-max-width">
        <h2>
          <a href="#" rel="bookmark">Sed dapibus lectus sit amet adipiscing egestas mauris est viverra nibh</a>
        </h2>
      </div>

      <div class="cd-teaser__description cd-max-width">
        <p>Sed dapibus, lectus sit amet adipiscing egestas, mauris est viverra nibh (iaculis pretium sem orci aliquet mauris). Nulla auctor eleifend turpis consequat pharetra. Nulla vel magna sit amet dui lobortis commodo vitae vel nulla sit amet ante hendrerit tempus. Donec a congue leo? </p>
      </div>

    </div>
  </article>

</div>
