{{ attach_library('common_design/cd-grid') }}
{{ attach_library('common_design/cd-flow') }}
{{ attach_library('common_design/cd-utilities') }}
{{ attach_library('common_design/cd-typography') }}
{{ attach_library('common_design/cd-link-list') }}

<ul class="cd-link-list [ cd-flow ]">
  <li class="cd-link-list__item [ cd-bumper ]">
    <div class="cd-link-list__image">
      <img src="https://via.placeholder.com/48x48" alt="image example">
    </div>
    <div class="cd-link-list__container [ cd-flow ]">
      <a href="/#" class="cd-link-list__title-link">
        <span class="cd-link-list__title">Historic Economic Decline is Reversing Development Gains</span>
        <svg class="cd-icon cd-icon--arrow-right" width="16" height="16" aria-hidden="true" focusable="false">
          <use xlink:href="#cd-icon--arrow-right"></use>
        </svg>
      </a>
    </div>
  </li>

  <li class="cd-link-list__item [ cd-bumper ]">
    <div class="cd-link-list__container [ cd-flow ]">
      <a href="/#" class="cd-link-list__title-link">
        <span class="cd-link-list__title">Historic Economic Decline is Reversing Development Gains</span>
        <svg class="cd-icon cd-icon--arrow-right" width="16" height="16" aria-hidden="true" focusable="false">
          <use xlink:href="#cd-icon--arrow-right"></use>
        </svg>
      </a>
    </div>
  </li>

  <li class="cd-link-list__item [ cd-bumper ]">
    <div class="cd-link-list__container [ cd-flow ]">
      <a href="#" class="cd-link-list__title-link">
        <span class="cd-link-list__title">Conflicts Continue to Take a Heavy Toll on Civilians</span>
        <svg class="cd-icon cd-icon--arrow-right" width="16" height="16" aria-hidden="true" focusable="false">
          <use xlink:href="#cd-icon--arrow-right"></use>
        </svg>
      </a>
    </div>
  </li>

  <li class="cd-link-list__item [ cd-bumper ]">
    <div class="cd-link-list__image">
      <svg class="cd-icon cd-icon--user">
        <use xlink:href="#cd-icon--user"></use>
      </svg>
    </div>
    <div class="cd-link-list__container [ cd-flow ]">

      <a href="#" class="cd-link-list__title-link">
        <span class="cd-link-list__title">This is a title</span>
        <svg class="cd-icon cd-icon--arrow-right" width="16" height="16" aria-hidden="true" focusable="false">
          <use xlink:href="#cd-icon--arrow-right"></use>
        </svg>
      </a>
      <div class="cd-link-list__description cd-max-width">
        <p>This is a brief description of the asset <a href='#'>ante hendrerit</a> tempus.</p>
      </div>
    </div>
  </li>

  <li class="cd-link-list__item [ cd-bumper ]">
    <div class="cd-link-list__image cd-link-list__image--rounded">
      <img src="https://via.placeholder.com/48x48" alt="image example">
    </div>
    <div class="cd-link-list__container [ cd-flow ]">
      <a href="#" class="cd-link-list__title-link">
        <span class="cd-link-list__title">
        Nulla auctor eleifend turpis consequat pharetra.</span>
        <svg class="cd-icon cd-icon--arrow-right" width="16" height="16" aria-hidden="true" focusable="false">
          <use xlink:href="#cd-icon--arrow-right"></use>
        </svg>
        </a>
      <div class="cd-link-list__description cd-max-width">
        <p>Nulla vel magna sit amet dui lobortis commodo vitae vel nulla sit amet ante hendrerit tempus.</p>
      </div>
    </div>
  </li>

  <li class="cd-link-list__item [ cd-bumper ]">
    <div class="cd-link-list__container [ cd-flow ]">
      <a href="#" class="cd-link-list__title-link">
        <span class="cd-link-list__title">
        Nulla auctor eleifend turpis consequat pharetra.</span>
        <svg class="cd-icon cd-icon--arrow-right" width="16" height="16" aria-hidden="true" focusable="false">
          <use xlink:href="#cd-icon--arrow-right"></use>
        </svg>
      </a>
    </div>
  </li>

</ul>

<hr>

<ul class="cd-link-list cd-grid cd-grid-2-col">
  <li class="cd-link-list__item [ cd-bumper ]">
    <div class="cd-link-list__image">
      <img src="https://via.placeholder.com/48x48" alt="image example">
    </div>
    <div class="cd-link-list__container [ cd-flow ]">
      <a href="/#" class="cd-link-list__title-link">
        <span class="cd-link-list__title">Historic Economic Decline is Reversing Development Gains</span>
        <svg class="cd-icon cd-icon--arrow-right" width="16" height="16" aria-hidden="true" focusable="false">
          <use xlink:href="#cd-icon--arrow-right"></use>
        </svg>
      </a>
    </div>
  </li>

  <li class="cd-link-list__item [ cd-bumper ]">
    <div class="cd-link-list__container [ cd-flow ]">
      <a href="/#" class="cd-link-list__title-link">
        <span class="cd-link-list__title">Historic Economic Decline is Reversing Development Gains</span>
        <svg class="cd-icon cd-icon--arrow-right" width="16" height="16" aria-hidden="true" focusable="false">
          <use xlink:href="#cd-icon--arrow-right"></use>
        </svg>
      </a>
    </div>
  </li>

  <li class="cd-link-list__item [ cd-bumper ]">
    <div class="cd-link-list__container [ cd-flow ]">
      <a href="#" class="cd-link-list__title-link">
        <span class="cd-link-list__title">Conflicts Continue to Take a Heavy Toll on Civilians</span>
        <svg class="cd-icon cd-icon--arrow-right" width="16" height="16" aria-hidden="true" focusable="false">
          <use xlink:href="#cd-icon--arrow-right"></use>
        </svg>
      </a>
    </div>
  </li>

  <li class="cd-link-list__item [ cd-bumper ]">
    <div class="cd-link-list__image">
      <svg class="cd-icon cd-icon--user">
        <use xlink:href="#cd-icon--user"></use>
      </svg>
    </div>
    <div class="cd-link-list__container [ cd-flow ]">

      <a href="#" class="cd-link-list__title-link">
        <span class="cd-link-list__title">This is a title</span>
        <svg class="cd-icon cd-icon--arrow-right" width="16" height="16" aria-hidden="true" focusable="false">
          <use xlink:href="#cd-icon--arrow-right"></use>
        </svg>
      </a>
      <div class="cd-link-list__description cd-max-width">
        <p>This is a brief description of the asset <a href='#'>ante hendrerit</a> tempus.</p>
      </div>
    </div>
  </li>

  <li class="cd-link-list__item [ cd-bumper ]">
    <div class="cd-link-list__image cd-link-list__image--rounded">
      <img src="https://via.placeholder.com/48x48" alt="image example">
    </div>
    <div class="cd-link-list__container [ cd-flow ]">
      <a href="#" class="cd-link-list__title-link">
        <span class="cd-link-list__title">
        Nulla auctor eleifend turpis consequat pharetra.</span>
        <svg class="cd-icon cd-icon--arrow-right" width="16" height="16" aria-hidden="true" focusable="false">
          <use xlink:href="#cd-icon--arrow-right"></use>
        </svg>
        </a>
      <div class="cd-link-list__description cd-max-width">
        <p>Nulla vel magna sit amet dui lobortis commodo vitae vel nulla sit amet ante hendrerit tempus.</p>
      </div>
    </div>
  </li>

  <li class="cd-link-list__item [ cd-bumper ]">
    <div class="cd-link-list__container [ cd-flow ]">
      <a href="#" class="cd-link-list__title-link">
        <span class="cd-link-list__title">
        Nulla auctor eleifend turpis consequat pharetra.</span>
        <svg class="cd-icon cd-icon--arrow-right" width="16" height="16" aria-hidden="true" focusable="false">
          <use xlink:href="#cd-icon--arrow-right"></use>
        </svg>
      </a>
    </div>
  </li>

</ul>
