{{ attach_library('common_design/cd-hero') }}
{{ attach_library('common_design/cd-button') }}
{{ attach_library('common_design/cd-caption') }}
{{ attach_library('common_design/cd-hero--style-one') }}
{{ attach_library('common_design/cd-hero--style-two') }}
{{ attach_library('common_design/cd-hero--style-three') }}
{{ attach_library('common_design/cd-bleed') }}

<div class="cd-hero cd-hero--style-one cd-bleed">
  <img class="cd-hero__image" src="https://via.placeholder.com/1920x687" alt="hero placeholder">
  <!--  This is an example for responsive images using srcset -->
  <!--  <picture>-->
  <!--    <source srcset="/files/styles/xlarge_x/example.jpg 2x" media="(min-width: 1024px)" type="image/jpeg">-->
  <!--    <source srcset="/files/styles/desktop_x2/example.jpg 2x" media="(min-width: 768px)" type="image/jpeg">-->
  <!--    <source srcset="/files/styles/tablet_x2/example.jpg 2x" media="(min-width: 576px)" type="image/jpeg">-->
  <!--    <source srcset="/files/styles/mobile_x2/example.jpg 2x" media="(min-width: 0px)" type="image/jpeg">-->
  <!--    <img src="/files/styles/mobile_x1/example.jpg" alt="Short description of the image used by screen readers and displayed when the image is not loaded. This is important for accessibility.">-->
  <!--  </picture>-->
  <div class="cd-hero__container">
    <div class="cd-hero__title">
      Locust upsurge in East Africa
    </div>
    <div class="cd-hero__description">The desert locusts have swarmed in Kenya from Somalia and Ethiopia, destroying farmlands. Ravenous swarms threaten entire East Africa subregion. FAO scales up its emergency response with a massive, border-spanning campaign needed to combat locust upsurge in East Africa.</div>
    <div class="cd-hero__footer">
      <a class="cd-hero__link cd-button cd-button--light cd-button--bold cd-button--uppercase" href="#">
        Learn more
      </a>
    </div>
  </div>
</div>
<div class="cd-caption">
  Cras molestie risus a enim convallis vitae luctus libero lacinia
</div>


<div class="cd-hero cd-hero--style-two cd-bleed">
  <img class="cd-hero__image" src="https://via.placeholder.com/1920x687" alt="hero placeholder">
  <div class="cd-hero__container">
    <div class="cd-hero__title">
      Locust upsurge in East Africa
    </div>
    <div class="cd-hero__description">The desert locusts have swarmed in Kenya from Somalia and Ethiopia, destroying farmlands. Ravenous swarms threaten entire East Africa subregion. FAO scales up its emergency response with a massive, border-spanning campaign needed to combat locust upsurge in East Africa.</div>
    <div class="cd-hero__footer">
      <a class="cd-hero__link cd-button cd-button--bold cd-button--uppercase" href="#">
        Learn more
      </a>
    </div>
  </div>
</div>
<div class="cd-caption">
  Cras molestie risus a enim convallis vitae luctus libero lacinia
</div>


<div class="cd-hero cd-hero--style-three">
  <img class="cd-hero__image" src="https://via.placeholder.com/1920x687" alt="hero placeholder">
  <div class="cd-container">
    <div class="cd-hero__container">
      <div class="cd-hero__title">
        <h3>
          <a href='#'>
            The desert locusts have swarmed in Kenya from Somalia and Ethiopia, destroying farmlands.
          </a>
        </h3>
      </div>
      <span class="cd-hero__date">28 Oct 2020</span>
    </div>
  </div>
</div>
<div class="cd-caption">
  Cras molestie risus a enim convallis vitae luctus libero lacinia
</div>

