{#
/**
 * @file
 * Theme override for status messages.
 *
 * Displays status, error, and warning messages, grouped by type.
 *
 * An invisible heading identifies the message type for assistive technology.
 * We also duplicate the message type as an ARIA label on the div with `role`.
 * Sighted users see a colored box.
 *
 * @see http://www.w3.org/TR/WCAG-TECHS/H69.html
 *
 * Drupal core 8-11 use role=contentinfo as the role for this template. It is
 * agreed that this is wrong, because contentinfo is only for site footers.
 * Instead we use alert/status roles depending on the message type.
 *
 * @see https://www.drupal.org/project/drupal/issues/2942404
 *
 * Available variables:
 * - message_list: List of messages to be displayed, grouped by type.
 * - status_headings: List of all status types. Output is translated already.
 * - attributes: HTML attributes for the element, including:
 *   - class: HTML classes.
 */
#}

{{ attach_library('common_design/cd-alert') }}

<div data-drupal-messages>
{% block messages %}
{% for type, messages in message_list %}
  {%
    set classes = [
      'messages',
      'messages--' ~ type,
      'cd-alert cd-alert--' ~ type,
    ]
  %}
  <div{{ attributes.addClass(classes)|without('role', 'aria-label', 'aria-labelledby') }}>
    {% if type == 'error' %}
      <div role="alert" aria-label="{{ status_headings[type] }}">
    {% else %}
      <div role="status" aria-label="{{ status_headings[type] }}">
    {% endif %}

      {% if type == 'error' or type == 'warning' %}
        <svg class="cd-icon cd-icon--alert" aria-hidden="true" focusable="false" width="24" height="24">
          <use xlink:href="#cd-icon--alert"></use>
        </svg>
      {% elseif type == 'status' %}
        <svg class="cd-icon cd-icon--selected" aria-hidden="true" focusable="false" width="24" height="24">
          <use xlink:href="#cd-icon--selected"></use>
        </svg>
      {% else %}
        <svg class="cd-icon cd-icon--about" aria-hidden="true" focusable="false" width="24" height="24">
          <use xlink:href="#cd-icon--about"></use>
        </svg>
      {% endif %}

      <div class="cd-alert__container cd-max-width">
        <div class="cd-alert__title">
          <h2 class="visually-hidden">{{ status_headings[type] }}</h2>
        </div>
        <div class="cd-alert__message [ cd-flow ]">
          {% if messages|length > 1 %}
            <ul class="messages__list" role="list">
              {% for message in messages %}
                <li class="messages__item">{{ message }}</li>
              {% endfor %}
            </ul>
          {% else %}
            {{ messages|first }}
          {% endif %}
        </div>

      </div>{# .cd-alert__message #}
    </div>{# div[role] #}
  </div>
  {# Remove type-specific classes before looping again. #}
  {% set attributes = attributes.removeClass(classes) %}
{% endfor %}
{% endblock messages %}
</div>
