{#
/**
 * @file
 * Theme override for system branding block (site logo).
 */
#}
<a href="{{ path('<front>') }}" title="{{ 'Front page'|t }}" rel="home" class="cd-site-logo">
  <img src="{{ site_logo }}" alt="{{ site_name }}" aria-hidden="true" width="100%" height="60px" />
  <span class="visually-hidden">{{ site_name }}</span>
</a>
