{#
/**
 * @file
 * Theme override for status messages.
 *
 * Displays status, error, and warning messages, grouped by type.
 *
 * An invisible heading identifies the messages for assistive technology.
 * Sighted users see a colored box. See http://www.w3.org/TR/WCAG-TECHS/H69.html
 * for info.
 *
 * Add an ARIA label to the contentinfo area so that assistive technology
 * user agents will better describe this landmark.
 *
 * Available variables:
 * - message_list: List of messages to be displayed, grouped by type.
 * - status_headings: List of all status types.
 * - attributes: HTML attributes for the element, including:
 *   - class: HTML classes.
 */
#}

{{ attach_library('common_design/cd-alert') }}

<div data-drupal-messages>
{% block messages %}
{% for type, messages in message_list %}
  {%
    set classes = [
      'messages',
      'messages--' ~ type,
      'cd-alert cd-alert--' ~ type,
    ]
  %}
  <div role="contentinfo" aria-label="{{ status_headings[type] }}"{{ attributes.addClass(classes)|without('role', 'aria-label') }}>
    {% if type == 'error' %}
      <div role="alert">
    {% endif %}

      {% if type == 'error' or type == 'warning' %}
        <svg class="cd-icon cd-icon--alert" aria-hidden="true" focusable="false" width="24" height="24">
          <use xlink:href="#cd-icon--alert"></use>
        </svg>
      {% elseif type == 'status' %}
        <svg class="cd-icon cd-icon--selected" aria-hidden="true" focusable="false" width="24" height="24">
          <use xlink:href="#cd-icon--selected"></use>
        </svg>
      {% else %}
        <svg class="cd-icon cd-icon--about" aria-hidden="true" focusable="false" width="24" height="24">
          <use xlink:href="#cd-icon--about"></use>
        </svg>
      {% endif %}

        <div class="cd-alert__container cd-max-width">

          {% if status_headings[type] %}
            <div class="cd-alert__title">
              <h2 class="visually-hidden">{{ status_headings[type] }}</h2>
            </div>
          {% endif %}

          <div class="cd-alert__message">
          {% if messages|length > 1 %}
            <ul class="messages__list">
              {% for message in messages %}
                <li class="messages__item">{{ message }}</li>
              {% endfor %}
            </ul>
          {% else %}
            {{ messages|first }}
          {% endif %}
          </div>

        </div>

    {% if type == 'error' %}
      </div>
    {% endif %}
  </div>
  {# Remove type specific classes. #}
  {% set attributes = attributes.removeClass(classes) %}
{% endfor %}
{% endblock messages %}
</div>
