{{ attach_library('common_design/cd-utilities') }}
{{ attach_library('common_design/cd-typography') }}
{{ attach_library('common_design/cd-card-list') }}
{{ attach_library('common_design/cd-card-clickable') }}
{{ attach_library('common_design/cd-button') }}

<div class="cd-container cd-card-list field__items">
  <div class="field__item">
    <article class="cd-card-clickable">
      <div class="cd-card-clickable node__content">
        <h3 class="cd-card-clickable__title">
          <a href="#destination" class="cd-card-clickable__link" title="{{ 'Clickable Card Title'|t }}">{{ 'Clickable Card Title'|t }}</a>
        </h3>
        <div class="field field--name-field-image field--type-image field--label-hidden field__item">
          <img src="https://via.placeholder.com/480x240" alt="card image example">
        </div>
        <p class="cd-card-clickable__summary">Clickable card summary which will be cut off at 280 characters when output is coming out of the normal Drupal mechanism.</p>
      </div>
    </article>
  </div>
  <div class="field__item">
    <article class="cd-card-clickable">
      <div class="cd-card-clickable node__content">
        <h3 class="cd-card-clickable__title">
          <a href="#destination" class="cd-card-clickable__link" title="{{ 'Much lengthier title text, but still Clickable Card Title'|t }}">{{ 'Much lengthier title text, but still Clickable Card Title'|t }}</a>
        </h3>
        <div class="field field--name-field-image field--type-image field--label-hidden field__item">
          <img src="https://via.placeholder.com/480x240" alt="card image example">
        </div>
        <p class="cd-card-clickable__summary">A much longer card summary purely for the purposes of demonstration. Despite the length of this card, the others are still precisely aligned at the bottom.</p>
      </div>
    </article>
  </div>
  <div class="field__item">
    <article class="cd-card-clickable">
      <div class="cd-card-clickable node__content">
        <h3 class="cd-card-clickable__title">
          <a href="#destination" class="cd-card-clickable__link" title="{{ 'Clickable Card Title'|t }}">{{ 'Clickable Card Title'|t }}</a>
        </h3>
        <div class="field field--name-field-image field--type-image field--label-hidden field__item">
          <img src="https://via.placeholder.com/480x240" alt="card image example">
        </div>
        <p class="cd-card-clickable__summary">Clickable card summary which will be cut off at 280 characters when output is coming out of the normal Drupal mechanism.</p>
      </div>
    </article>
  </div>
  <div class="field__item">
    <article class="cd-card-clickable">
      <div class="cd-card-clickable node__content">
        <h3 class="cd-card-clickable__title">
          <a href="#destination" class="cd-card-clickable__link" title="{{ 'Clickable Card Title'|t }}">{{ 'Clickable Card Title'|t }}</a>
        </h3>
        <div class="field field--name-field-image field--type-image field--label-hidden field__item">
          <img src="https://via.placeholder.com/480x240" alt="card image example">
        </div>
        <p class="cd-card-clickable__summary">A <em>different</em> clickable card summary which will be cut off at 280 chars when output is coming out of the normal Drupal mechanism.</p>
      </div>
    </article>
  </div>
  <div class="field__item">
    <article class="cd-card-clickable">
      <div class="cd-card-clickable node__content">
        <h3 class="cd-card-clickable__title">
          <a href="#destination" class="cd-card-clickable__link" title="{{ 'Clickable Card Title'|t }}">{{ 'Clickable Card Title'|t }}</a>
        </h3>
        <div class="field field--name-field-image field--type-image field--label-hidden field__item">
          <img src="https://via.placeholder.com/480x240" alt="card image example">
        </div>
        <p class="cd-card-clickable__summary">Clickable card summary which will be cut off at 280 characters when output is coming out of the normal Drupal mechanism.</p>
      </div>
    </article>
  </div>
  <div class="field__item">
    <article class="cd-card-clickable">
      <div class="cd-card-clickable node__content">
        <h3 class="cd-card-clickable__title">
          <a href="#destination" class="cd-card-clickable__link" title="{{ 'Clickable Card Title'|t }}">{{ 'Clickable Card Title'|t }}</a>
        </h3>
        <div class="field field--name-field-image field--type-image field--label-hidden field__item">
          <img src="https://via.placeholder.com/480x240" alt="card image example">
        </div>
        <p class="cd-card-clickable__summary">A <em>different</em> clickable card summary which will be cut off at 280 chars when output is coming out of the normal Drupal mechanism.</p>
      </div>
    </article>
  </div>
</div>
