{%
  set facets_layout_classes = [
  'cd-container',
  page.sidebar_first|render or page.facets|render and not page.sidebar_second|render ? 'cd-layout--sidebar-first',
  page.sidebar_first|render or page.facets|render and page.sidebar_second|render ? 'cd-layout--sidebar-both',
]
%}

{% embed '@common_design/layout/page.html.twig' %}

  {% block main %}
    {# Link to skip to the main content is in html.html.twig #}
    <main role="main" {{ attributes.setAttribute('id', 'main-content').addClass(facets_layout_classes) }}>

      {{ page.page_title }}

      <div class="cd-layout">

      {% if page.facets|render or page.sidebar_first|render %}
        {#
          We are using CSS pseudo class :empty to hide these aside elements if
          the region prints empty. That means we cannot have any white space
          between tags (as below).

          NOTE: Enabling Twig debug means the div is no longer empty.
          @see https://www.drupal.org/project/drupal/issues/953034
        #}
        <aside class="cd-layout__sidebar--first" role="complementary">{{ page.facets }}{{ page.sidebar_first }}</aside>
      {% endif %}

      <div class="cd-layout__content">
        {{ page.content }}
      </div>{# /.cd-layout__content #}

      </div>

    </main>
  {% endblock %}

{% endembed %}
