{{ attach_library('common_design/cd-flow') }}
{{ attach_library('common_design/cd-utilities') }}
{{ attach_library('common_design/cd-typography') }}
{{ attach_library('common_design/cd-block-title') }}
{{ attach_library('common_design/cd-title-list') }}

<h3 class="cd-block-title">
  Challenges
</h3>

<ul class="cd-title-list [ cd-flow ]">
  <li class="cd-title-list__item">
    <a href="/#" class="cd-title-list__link">
      <span class="cd-title-list__title">Historic Economic Decline is Reversing Development Gains</span>
      <svg class="cd-icon cd-icon--arrow-right" width="16" height="16" aria-hidden="true" focusable="false">
        <use xlink:href="#cd-icon--arrow-right"></use>
      </svg>
    </a>
  </li>
  <li class="cd-title-list__item">
    <a href="#" class="cd-title-list__link">
      <span class="cd-title-list__title">Conflicts Continue to Take a Heavy Toll on Civilians</span>
      <svg class="cd-icon cd-icon--arrow-right" width="16" height="16" aria-hidden="true" focusable="false">
        <use xlink:href="#cd-icon--arrow-right"></use>
      </svg>
    </a>
  </li>
</ul>
